/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--family-content-card), sans-serif;
  background-image: var(--background-website);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  font-variation-settings: "wght" var(--font-normal);
}

.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  border: 2px solid var(--themes-main-color);
  font-family: var(--family-header-button-label), sans-serif;
  background-color: var(--themes-color);
  font-variation-settings: "wght" var(--font-normal);
  inline-size: clamp(375px, 80%, 700px);
  min-block-size: clamp(327px, 30vw, 368px);
}

h1 {
  vertical-align: bottom;
  font-size: clamp(3.0625rem, 2.7109rem + 1.5vw, 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header_text {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6758rem + 0.8500000000000001vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.content__container {
  display: grid;
  gap: 50px;
  margin-block-start: 100px;
}

.card_label {
  position: absolute;
  right: 0;
  display: block;
  margin: 25px;
  font-family: var(--family-header-button-label), sans-serif;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-shadow-label), 0 1px var(--text-shadow-label),
    1px 0 var(--text-shadow-label), 0 -1px var(--text-shadow-label);
  font-variation-settings: "wght" var(--font-normal);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-shadow-label)) or
    (-webkit-text-stroke: 1px var(--text-shadow-label))
) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-label);
    text-stroke: 1px var(--text-shadow-label);
  }
}

.content_card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border: 2px solid var(--themes-main-color);
  background: var(--themes-color);
  inline-size: clamp(375px, 80%, 700px);
}

.card-title {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block-start: 3px;
  padding-block-end: 3px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--font-bold);
  min-block-size: 31px;
}

.card-image {
  position: relative;
  display: flex;
  border-block-start: 2px solid var(--themes-main-color);
  border-block-end: 2px solid var(--themes-main-color);
  block-size: clamp(375px, 80vw, 700px);
}

.card-image-img {
  object-fit: cover;
  inline-size: 100%;
}

.card-section-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 25px;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.card-main-text {
  margin-block-start: 27px;
}

.like-container {
  display: flex;
  align-self: flex-end;
  margin-block-start: 25px;
}

.card__icon-button {
  display: inline-block;
  justify-self: flex-start;
  align-self: flex-start;
  margin-inline-end: 4px;
  border: 2px solid transparent;
  background-color: transparent;
  block-size: 38px;
}

.card__like-button {
  position: relative;
  display: inline-block;
  align-self: flex-start;
  border: 2px solid var(--themes-main-color);
  background-color: transparent;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  font-family: var(--family-header-button-label), sans-serif;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  font-variation-settings: "wght" var(--font-normal);
}

.button__save-text {
  display: inline-block;
  margin-inline-start: 8px;
  color: var(--themes-main-color);
  font-family: var(--family-header-button-label), sans-serif;
  font-size: 14px;

  line-height: 90%;
  font-variation-settings: "wght" var(--font-normal);
}

.button__save {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-block-end: clamp(100px, 20vw, 103px);
  padding-inline: 18px;
  outline: none;
  background-color: var(--themes-color);
  max-inline-size: 335px;
  min-block-size: 55px;
}

.button__save-icon {
  inline-size: min(max(21px, calc(1.75rem + ((1vw - 3.75px) * -0.6573))), 28px);
  block-size: min(max(21px, calc(1.75rem + ((1vw - 3.75px) * -0.6573))), 28px);
}

dialog::backdrop {
  background-color: var(--background-dialog);
  backdrop-filter: blur(7px);
}

.dialog__window[open] {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-self: center;
  align-self: center;
  border: 2px solid var(--themes-main-color);
  padding: 30px;
  max-inline-size: 353px;
}

.dialog__content {
  display: flex;
  align-items: center;
}

.dialog__content-text {
  margin-inline-start: 20px;
  font-family: var(--family-header-button-label), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--font-normal);
}

.dialog__icon-container {
  display: flex;
}

.dialog__icon-container svg {
  flex: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-block-start: 30px;
  border: 2px solid var(--themes-main-color);
  background: none;
  inline-size: clamp(257px, 50vw, 293px);
  min-block-size: 38px;
}

.dialog__button-text {
  font-family: var(--family-header-button-label), sans-serif;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--font-normal);
}

/* фильтры картинок в карточках*/
.preparation {
  filter: contrast(80%);
}

.clean_sheet {
  filter: hue-rotate(-90deg);
}

.doubt {
  filter: sepia(100%);
}

.ideal {
  filter: blur(0.2rem);
}

.team {
  filter: brightness(140%);
}

.strategy {
  filter: saturate(158%);
}

.concentration {
  filter: sepia(0.2) contrast(1.2) saturate(158%);
}

.experience {
  filter: grayscale(1);
}

/* Адаптивность экранов (медиазапросы)*/
@media (width <= 375px) {
  .card-title {
    padding-block-start: 4px;
    padding-block-end: 4px;
    line-height: 1.43rem;
    min-block-size: auto;
  }

  .button__save {
    flex-direction: column;
    padding-block: 15px;
  }

  .button__save-text {
    margin-inline-start: 0;
    margin-block-start: 8px;
  }
}